# dependencies
installation/node_modules
microsite/node_modules

# mongo database
data/db/*
!data/db/.gitkeep
data/db-secondary/*
!data/db-secondary/.gitkeep
data/db-byob/*
!data/db-byob/.gitkeep
data/db-byob-secondary/*
!data/db-byob-secondary/.gitkeep
data/thumbnails/*
!data/thumbnails/.gitkeep
data/server-key
log/*
!log/.gitkeep
pid/*
!pid/.gitkeep
data/prints/*
!data/prints/.gitkeep
