<html>
	<head>

		<title> {{title}} </title>
		<meta charset="utf-8">
	
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic&v1" rel="stylesheet" type="text/css">
		<link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300|Lato:100|Source+Code+Pro:300,400,500,600,700' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" type="text/css" href="css/styles.css">

<!-- 		CHECK LIST!!!!
		> meta tags
		> including social media tags
		> google analytics -->

		<!-- for Twitter -->
		<meta name="twitter:card" content="3dPortrait">
		<meta name="twitter:site" content="@branger_briz">
		<meta name="twitter:title" content="eMerge Portraits">
		<meta name="twitter:description" content="interactive 3d portrait">
		<meta name="twitter:creator" content="@branger_briz">
		<!-- Twitter summary card with large image must be at least 280x150px -->
		<meta name="twitter:image:src" content="http://emerge.brangerbriz.com/{{id}}_1.png">

		<meta name="viewport" content="width=device-width, initial-scale=1">

	</head>
	<body>

		<div id="picSaved">saved</div>

		<div id="modal">
			<div class="frame">
				<input type="text" id="shareIframe">
				<div class="label">embed code</div>

				<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
				
			</div>
		</div>

		<section id="share">
			<div class="galleryTitle">
				<div class="align-left">
					<a href="/" class="homeLnk">eMerge Portraits</a>
					<a href="http://brangerbriz.com"><div class="logo2"> by Branger_Briz</div></a>					
				</div> 
			</div>
			<div class="pressp">
				press 'P' to save a picture
			</div>
			<div>
				<a href="#" class="btnlink" id="shareBtn"> share </a>
			</div>
		</section>

		<script src="libs/stats.min.js"></script>
		<script src="libs/three.min.js"></script>
		<script src="libs/OBJExporter.js"></script>
		<script src="libs/dat.gui.bb.min.js"></script>
		<script src="BB.min.js"></script>
		<script src="MeshFromDepth.js"></script>
		<script src="DepthFromKinect.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script> 
		<script>

			var sessionId = "{{id}}";
			var scene, camera, renderer; 
			var wireframe, pointcloud, depth;
			var stats, axes;
			var clearColor = 0x1E202F;


			var windowHalfX = window.innerWidth / 2;
			var windowHalfY = window.innerHeight / 2;
			var mouseX = ( windowHalfX - window.innerWidth*0.25 );
			var mouseY = ( window.innerHeight*0.75 - windowHalfY );
			var mouseZ = window.innerWidth*0.25;
			

			var KeyFrames = []; 
			var diffTex, diffCanvas, diffCtx, diffImg;




			function str2Uint8Array( base64 ) {
			    var bstr =  window.atob( base64 );
			    var len = bstr.length;
			    var arr = new Uint8Array( len );
			    for (var i = 0; i < len; i++) arr[i] = bstr.charCodeAt(i);
			    return arr;
			}

			$.getJSON( "http://"+window.location.host+"/api/sessions?id="+sessionId, function( data ) {
				if (!data.error && data.data) {
					
					for (var i = 0; i < data.data.keyFrames.length; i++) {
						var decodedArray = str2Uint8Array( data.data.keyFrames[i].depthData );
						KeyFrames.push({
							depthData: decodedArray,
							diffDataURL: data.data.keyFrames[i].diffDataURL,
							motionValue: data.data.keyFrames[i].motionValue
						});
					};

					setup();
					draw();
					// makegui();
				
				} else {
					console.log(data);
				}
			});


			// share stuff ----------------------

			$('#shareIframe').attr('value','<iframe width="640" height="360" src="'+window.location.href+'"></iframe>');

			function savePic(){
				var imgDataURL = renderer.domElement.toDataURL();

				$('#picSaved').css({
					'left' : $('#shareBtn').offset().left+"px",
					'top' : $('#shareBtn').offset().top+55+"px"
				});
				$('#picSaved').fadeIn(1000,function(){
					$('#picSaved').fadeOut(1000);
				});
			}

			function saveObj(){
				var exporter = new THREE.OBJExporter();
				var result = exporter.parse(scene);
				// window.open('data:text/obj;charset=utf-8,'+result);
				var a = document.createElement("a");
				var file = new Blob([result], {type: 'text/plain'});
				a.href = URL.createObjectURL(file);
				a.download = 'ep'+sessionId+'.obj';
				a.click();
			}

			// 3d scene --------------------------

			function setup() {

				renderer = new THREE.WebGLRenderer({ preserveDrawingBuffer: true });
				renderer.setClearColor( clearColor );
				renderer.setSize( window.innerWidth, window.innerHeight );
				renderer.domElement.style.position = 'absolute';
				renderer.domElement.style.left = '0px';
				renderer.domElement.style.top = '0px';
				document.body.appendChild( renderer.domElement );

				scene = new THREE.Scene();
				camera = new THREE.PerspectiveCamera( 50, window.innerWidth/window.innerHeight, 1, 10000 );
				camera.position.set( 0, 0, 650 );
				
				// framediff texture -------------------------------------
				diffCanvas = document.createElement('canvas');
				diffCanvas.width = 640; diffCanvas.height = 480;
				diffCtx = diffCanvas.getContext('2d');
				diffTex = new THREE.Texture( diffCanvas );
				diffTex.minFilter = THREE.NearestFilter;				
				diffImg = new Image();
				diffImg.src = KeyFrames[0].diffDataURL;
				diffImg.onload = function(){ diffCtx.drawImage( this, 0,0 ); }
				diffTex.needsUpdate = true;

				// depth data --------------------------------------------
				depth = new DepthFromKinect( 640, 480, KeyFrames[0].depthData );

				// meshes ------------------------------------------------
				wireframe = new MeshFromDepth({
					depthData: depth.canvas,
					scene: scene,
					vertexShader: 'shaders/glazewire-v.glsl',
					fragmentShader: 'shaders/glazewire-f.glsl',
					type: 'mesh',
					wireframe: true,
					polycount: 20,
					// wireframeLinewidth: 2
					uniforms: [
						{ name: "time", type:"f", value: 0.0 },
					]
				});

				pointcloud = new MeshFromDepth({
					depthData: depth.canvas,
					scene: scene,
					vertexShader: 'shaders/huepoints-v.glsl',
					fragmentShader: 'shaders/huepoints-f.glsl',				
					type: 'point',
					polycount: 200,
					pointsize: 3.0,
					uniforms: [
						{ name: "time", type:"f", value: 0.0 },
						{ name: "motion", type:"f", value: 1.0 },
						{ name: "diffTex", type: "t", value: diffTex }
					]
				});


				// ----------------------- helpers ----------------------- debug ----------------------- 
				stats = new Stats();
				stats.domElement.style.position = 'absolute';
				stats.domElement.style.top = '90px';
				stats.domElement.style.width = "100px";
				stats.domElement.style.display = "none";
				document.body.appendChild( stats.domElement );
				//
				axes = new THREE.AxisHelper(150);
				axes.material.transparent = true;
				axes.material.opacity = 0.0;
				scene.add(axes);
				//
				var canvas = depth.canvas;
				canvas.style.position = "absolute";
				canvas.style.display = "none";
				canvas.style.width = "100px";
				document.body.appendChild(canvas);

				/*
					+	: zoom camera in
					-	: zoom camera out
					C 	: change bg color
					S 	: toggle stats
				 */
				document.onkeypress = function(e){
					var e = window.event || e;
					// console.log(e.keyCode)
					console.log(e.charCode)

					if(e.keyCode==61) camera.position.z -= 25;	// +
					if(e.keyCode==45) camera.position.z += 25;	// -

					if(e.keyCode == 99 ){ // C ( to change background color )
						clearColor = (clearColor==0xffffff) ? 0x000000 : 0xffffff;
						renderer.setClearColor( clearColor );
					}
					if(e.keyCode == 115 ){ // S ( to toggle stats )
						if(stats.domElement.style.display=='none'){
							canvas.style.display  = stats.domElement.style.display = 'block';
							axes.material.opacity = 1.0;
						} else { 
							canvas.style.display  = stats.domElement.style.display = 'none';
							axes.material.opacity = 0.0;
						}
					}

					if(e.charCode==112) savePic();
					

				}

				document.addEventListener( 'mousemove',function(){
					mouseX = ( windowHalfX - event.clientX );
					mouseY = ( event.clientY - windowHalfY );
					mouseZ = event.clientX;
				}, false );

				window.onresize = function() {
					windowHalfX = window.innerWidth / 2;
					windowHalfY = window.innerHeight / 2;
					camera.aspect = window.innerWidth / window.innerHeight;
					camera.updateProjectionMatrix();
					renderer.setSize( window.innerWidth, window.innerHeight );
				}
				window.onresize();

			}



			var frameDuration = 4; // seconds
			var intervalAmt = 60*frameDuration;
			var frame = 0;
			var counter = 0;
			// var noiseCnt = KeyFrames[0].motionValue - 0.25;

			function draw() {
				requestAnimationFrame(draw);

				var time = performance.now();
				if( wireframe.loaded && pointcloud.loaded ){
					// wireframe.mesh.rotation.y = Math.sin( time*0.0003 );	 // add for mobile
					// pointcloud.mesh.rotation.y = Math.sin( time*0.0003 ); // add for mobile 
					wireframe.mesh.material.uniforms.time.value = time;
					pointcloud.mesh.material.uniforms.time.value = time;	
					// noiseCnt += 0.5/intervalAmt; // slowly phase through noise field... varies depending on seed
					// pointcloud.mesh.material.uniforms.motion.value = BB.MathUtils.noise( noiseCnt );			
					pointcloud.mesh.material.uniforms.motion.value += 0.25/intervalAmt;

				}
					
				// switch frames
				counter++;
				if( counter % intervalAmt  == 0 ){ // approx every 4 seconds 
					frame++; if(frame>=KeyFrames.length) frame = 0;
					
					depth.crossFadeCanvasData( KeyFrames[frame].depthData, 1000 );
					// depth.wipeFadeCanvasData( KeyFrames[frame].depthData, 1000 );
					
					pointcloud.mesh.material.uniforms.motion.value = KeyFrames[frame].motionValue;
					// noiseCnt = KeyFrames[frame].motionValue - 0.25;
					
					diffImg.onload = function(){ diffCtx.drawImage( this, 0,0 ); }
					diffImg.src = KeyFrames[frame].diffDataURL;
					diffTex.needsUpdate = true;
				}
				wireframe.update();
				pointcloud.update();



				// control camera ( replace w/auto rotate for mobile )
				camera.position.x += ( mouseX - camera.position.x ) * 0.05;
				camera.position.y += ( - mouseY - camera.position.y ) * 0.05;
				var z = (mouseZ<=windowHalfX) ? windowHalfX-mouseZ : mouseZ-windowHalfX;
				camera.position.z = BB.MathUtils.map( z, 0, windowHalfX, 200, 650 );
				camera.lookAt( scene.position );

				renderer.render( scene, camera );
				stats.update();
			}



			function makegui(){
				var gui = new dat.GUI(); 
				// var f1 = gui.addFolder('u');
				// f1.add(box2, 'h', 0, 359).step(1).name('hue').listen().onChange(function(){ change(); }); 
				gui.add( pointcloud.mesh.material.uniforms.pmax, 'value', 0.0, 15.0 ).name('pmin');
				gui.add( pointcloud.mesh.material.uniforms.resthresh, 'value', -25.0, 25.0 ).step(1.0).name('resthresh');

				gui.domElement.style.zIndex = 100;				
			}

			//0.125
			//
			//
			
			

		</script>
	</body>
</html>