
html, body { padding: 0; margin: 0; }

/*for example backgrounds*/

.radial-grey {
	height:100vh; width:100vw;
	margin:0; padding:0;
	overflow: hidden;
	background: #ffffff;            
	background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #d5d5d5 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(100%,#d5d5d5));
	background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%,#d5d5d5 100%);
	background: -o-radial-gradient(center, ellipse cover, #ffffff 0%,#d5d5d5 100%);
	background: -ms-radial-gradient(center, ellipse cover, #ffffff 0%,#d5d5d5 100%);
	background: radial-gradient(ellipse at center, #ffffff 0%,#d5d5d5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d5d5d5',GradientType=1 );
}

.radial-black {
	height:100vh; width:100vw;
	margin:0; padding:0;		
	background: #45484d;
	overflow: hidden;	
	background: -moz-radial-gradient(center, ellipse cover, #45484d 0%, #000000 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#45484d), color-stop(100%,#000000));
	background: -webkit-radial-gradient(center, ellipse cover, #45484d 0%,#000000 100%);
	background: -o-radial-gradient(center, ellipse cover, #45484d 0%,#000000 100%);
	background: -ms-radial-gradient(center, ellipse cover, #45484d 0%,#000000 100%);
	background: radial-gradient(ellipse at center, #45484d 0%,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 );
}

/*for absolute positioning canvas in pages w/ other elements*/

.absolute {
	position: absolute;
	top:0px; left:0px;
}

/*for the keyframe snapshot timer*/

/*#timer {
  position:relative;
  top:0px;left:0px;
  z-index:100;
  min-width:100%; 
  min-height:10px;
}
*/
.progBar {
	position: absolute;
	z-index:100;
	background:#fff;
}
#progressBar1 {
  top:0px; left:0px;
  height: 10px;
}
#progressBar2 {
  bottom:0px; right:0px;
  height: 10px;
}
/*#progressBar3 {
  top:0px; right:0px;
  width: 10px;
}
#progressBar4 {
  bottom:0px; left:0px;
  width: 10px;
}*/

#flash{
  position:fixed;
  top:0px;left:0px;
  z-index:200;
  width:100%; 
  height:100%;
  background: #fff;
  opacity: 0;	
}


/* for debug console */

#debug {
	color: rgb(0, 255, 255);
	position: absolute;
	top: 150px; left:10px;
	z-index: 999;
	display: none;
}